*{
    margin: 0px;
    
}
nav {
    background-color:rgb(77, 73, 73);
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    display: flex;
    margin-bottom: 50px;
    
}
nav a{
    text-decoration: none;
    color: white;
    padding-left: 50px;
    font-size:large;
    align-items:flex-start;
    
}

.login{
    margin-left: auto;
    margin-right: 10px;
    
}

.menu:hover{
    color: grey;
    background-color: lemonchiffon;
}
section h2 span{
    
    background-color: rgb(190, 40, 40);
    padding-top: 10px;
    padding-bottom: 10px;
    color: lavender;
    margin-left: 43%;
    margin-bottom: 100px;
    border-radius: 30px;
    padding: 5px;
    
}
* { box-sizing: border-box;
margin: 0px; }

body { font-family: sans-serif; }

.carousel{
   
   margin-top: 50px;
   height: 300px;

}

.carousel-cell {
  width: 40%;
  
  
  margin-right: 10px;
  
  border-radius: 10px;
  border: rgb(0, 0, 0) 2px solid;
  margin-bottom: 10px;
  
}
.carousel-cell img{
    height: 300px;
    width: 90%;
    padding: 5px;
    padding-left:20px;
    
}



@media screen and (max-width: 600px){
    nav{
        flex-direction: column;
    }
    .login{
        margin-left: 0px;
    }
}

